.header {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #2e0052;
  gap: 1vh;
  font-family: Roboto;
}

.header > img {
  height: 10vh;
}

.main {
  font-family: Roboto;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successMessage {
  box-shadow: 0.9rem 1rem 1.4rem 2px #0000001c;
  border: 3px solid #e3e3e3;
  border-radius: 0.6rem;
  width: 52%;
  height: 63vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successImage {
  height: 30%;
  width: 20%;
  margin-bottom: 1.7rem;
}

.successSpan1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}

.successSpan2 {
  margin-top: 0.5rem;
  font-size: 1.5vw;
  font-weight: 500;
  color: #969696;
}

.homeButton {
  margin-top: 2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #2e0052;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.MobNavbar,
.mobileFooterSection {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .header,
  .footer {
    display: none;
  }
  .MobNavbar {
    display: block;
  }
  .mobileFooterSection {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    margin-top: 2rem;
  }

  .main {
    height: 65vh;
    padding: 1rem;
    margin-top: 2rem;
  }

  .successMessage {
    width: 100%;
    padding: 0rem;
    text-align: center;
  }

  .successImage {
    height: 35%;
    width: 35%;
    margin-bottom: 1.7rem;
  }

  .successSpan1 {
    font-size: 1.5rem;
  }

  .successSpan2 {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0 0.2rem;
  }
}
