.container {
  display: flex;
  align-items: center;
  border: 1px solid #c8c8c8;
  height: 8vh;
}

.footerItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.iconHeader{
  display: flex;
  flex-direction: column;
  height: 80%;
}

.border{
  border-top: 4px solid #2E0052;
  width: 4rem;
  border-radius: 1rem;
}

.footerItem > span,
.footerItem > div > span {
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: 500;
  color: #000000;
}

.cartContainer {
  position: relative;
}

.cartQuantity {
  background-color: #2dad00;
  padding: 0.1rem;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 0.8rem;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  width: 1rem;
  text-align: center;
}

.userIcon {
  height: 3vh;
}

.authMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.not {
  font-size: 2rem;
}
