.container {
  display: flex;
  align-items: center;
  border: 1px solid #c8c8c8;
  height: 8vh;
}

.footerItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footerItem > span {
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: 500;
  color: #000000;
}

.cartContainer {
  position: relative;
}

.cartQuantity {
  background-color: #2dad00;
  padding: 0.1rem;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 0.8rem;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
}

.userIcon {
  height: 3vh;
}

.not {
  font-size: 2rem;
}
