.container {
  padding: 1rem;
  margin-bottom: 4rem;
  font-family: Roboto;
}

.backArrow {
  margin-top: 0rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: (255, 255, 255, 1);
  box-shadow: 0px 1px 4px 0px #00000054;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.backArrow > img {
  height: 50%;
}

.buybtn,
.buttons > button {
  margin-top: 2vh;
  width: 100%;
  height: 6vh;
  border-radius: 0.6rem;
  border: none;
  background-color: #ffb800;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.title {
  margin-top: 5vh;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0em;
  color: #000000;
}

.ratingBox {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  gap: 1vh;
}

.ratingBox > span {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0em;
  margin-left: 1vh;
}

.ratingBox > img {
  height: 2.5vh;
}

.productDesc {
  margin-top: 1.2vh;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
}

.price {
  margin-top: 1vh;
  font-size: 1.3rem;
  font-weight: 400;
  display: block;
}

.colorType {
  font-size: 1.3rem;
  font-weight: 400;
}

.productAbout {
  margin-top: 1.5vh;
  font-size: 1rem;
  font-weight: 400;
}

.productAbout > ul {
  margin-top: 0.5vh;
  padding-left: 10vw;
}

.availableAndBrand {
  margin-top: 2vh;
}

.availableAndBrand > div > span:first-child {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0em;
}

.availableAndBrand > div > span:last-child {
  font-size: 1.2rem;
  font-weight: 400;
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.buttons > button:first-child {
  background-color: #ffd600;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .container {
    display: none;
  }
}
