.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.title {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 600;
  color: #2e0052;
  gap: 1vh;
}

.title > img {
  height: 10vh;
}

.authCheck > span,
.authCheck > a {
  font-family: Roboto;
  font-size: 1.4rem;
}

.authCheck > span {
  font-weight: 400;
}
.authCheck > a {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.newAccount {
  display: flex;
  width: 35vw;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}

.breakLine {
  border-radius: 0.4rem;
  height: 2px;
  width: 100%;
  background-color: #bdbdbd;
}

.newToMusic {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
}

.registerButton {
  border: none;
  border: 2px solid #bdbdbd;
  height: 8vh;
  width: 35vw;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0.6rem;
  cursor: pointer;
}

.mobileNav{
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 480px){
  .mobileNav{
    display: block;
  }
  .title{
    display: none;
  }

  .container {
    padding: 1rem;
  }
  
  .authCheck > span,
  .authCheck > a {
    font-family: Roboto;
    font-size: 1.4rem;
  }
  
  .authCheck > span {
    font-weight: 400;
  }
  .authCheck > a {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .newAccount {
    width: 90vw;
  }
  
  .registerButton {
    height: 7vh;
    width: 90vw;
  }



  
}

