* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboardContainer {
  margin-top: 11vh;
  /* width: 100vw; */
  padding: 0 2vw;
}

.headerSection {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promotionSection {
  margin-top: 2rem;
  height: 35vh;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  border-radius: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.promotionContent {
  padding-left: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  font-weight: 500;
}

.promotionText {
  font-size: 3rem;
  color: #2e0052;
}

.promotionbtn {
  width: 33%;
  height: 20%;
  border: none;
  border-radius: 3rem;
  background-color: #2e0052;
  color: #ffffff;
  font-size: 1.5vw;
}

.promotionIcon {
  position: relative;
  bottom: 20%;
  height: 120%;
}

.searchSection {
  margin-top: 1rem;
  border: 0.2rem solid #c8c8c8;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  display: flex;
  gap: 0.5rem;
}

.searchField {
  outline: none;
  border: none;
  width: 100%;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
}

.filterSection {
  /* width: 100%; */
  height: 6vh;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.viewOptions {
  display: flex;
  align-items: center;
  /* height: 100%; */
  gap: 0.5rem;
}

.listViewImg {
  height: 2rem;
  cursor: pointer;
}

.filters {
  width: 70%;
  height: 100%;
  margin-left: 1vw;
  margin-right: 5vw;
  display: flex;
  gap: 0.5rem;
}

.dropDown {
  padding-left: 1.2rem;
  width: 12rem;
}

.dropDown,
.sortSelect {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 3rem;
  appearance: none;
  background-image: url("../../assets/dropDown.svg");
  background-repeat: no-repeat;
  background-position: right 7% center;
  cursor: pointer;
}

.dropDown > option,
.sortSelect > select {
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.sortOptions {
  /* width: 15vw; */
  height: 100%;
  border: 0.15rem solid #e1e1e1;
  border-radius: 50px;
  padding: 1rem;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.sortSelect {
  background-color: transparent;
  font-weight: 400;
}

.productGrid {
  margin-top: 10vh;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.productList {
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}
.mobileFooter {
  display: none;
}
.mobileSearch {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .navbar {
    display: none;
  }
  .headerSection {
    display: none;
  }
  .mobileSearch {
    display: block;
  }
  .dashboardContainer {
    margin-top: 4vh;
    margin-bottom: 7rem;
  }

  .promotionSection {
    height: 20vh;
    border-radius: 0.6rem;
    position: relative;
  }

  .promotionContent {
    padding-left: 2vh;
    gap: 1rem;
  }

  .promotionText {
    font-size: 1.4rem;
  }

  .promotionbtn {
    width: 70%;
    height: 15%;
    border-radius: 0.7rem;
    font-size: 0.7rem;
  }

  .promotionIcon {
    position: absolute;
    bottom: 0%;
    height: 120%;
    right: 0;
    object-fit: cover;
    width: 55%;
  }

  .searchSection {
    display: none;
  }

  .filterSection {
    width: 100%;
    height: 6vh;
    flex-direction: row-reverse;
    overflow-y: auto;
  }

  .viewOptions {
    display: none;
  }

  .filters {
    width: 150%;
    margin-right: 0vw;
  }

  .dropDown {
    padding-left: 0.5rem;
    width: 12rem;
  }

  .dropDown,
  .sortSelect {
    border-radius: 0.4rem;
  }

  .sortOptions {
    border: 0.89px solid #e1e1e1;
    border-radius: 0.4rem;
  }

  .productGrid {
    margin-top: 4vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .productList {
    margin-top: 4vh;
    width: 100%;
    height: 100%;
  }

  .mobileFooter {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
  }

  .siteFooter {
    display: none;
  }
}
