* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboardContainer {
  margin-top: 11vh;
  /* width: 100vw; */
  padding: 0 2vw;
}

.headerSection {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5vh;
}

.logoWrapper > img {
  height: 90%;
}

.logoWrapper > span {
  font-family: Roboto;
  font-size: 2.3rem;
  font-weight: 600;
  color: #2e0052;
}

.navLink {
  margin-left: 1vw;
  padding-top: 4%;
  text-decoration: none;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.cartContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cartWrapper {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  background-color: #1d7000;
  border-radius: 3rem;
  gap: 0.4rem;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.userName {
  border: 1px solid #2e0052;
  color: #000000;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  padding: 0.7rem;
  cursor: pointer;
}

.promotionSection {
  margin-top: 2rem;
  /* width: 100%; */
  height: 35vh;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  border-radius: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.promotionContent {
  padding-left: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  font-weight: 500;
}

.promotionText {
  font-size: 3rem;
  color: #2e0052;
}

.promotionbtn {
  width: 33%;
  height: 20%;
  border: none;
  border-radius: 3rem;
  background-color: #2e0052;
  color: #ffffff;
  font-size: 1.5vw;
}

.promotionIcon {
  position: relative;
  bottom: 20%;
  height: 120%;
}

.searchSection {
  margin-top: 1rem;
  border: 0.2rem solid #c8c8c8;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  display: flex;
  gap: 0.5rem;
}

.searchField {
  outline: none;
  border: none;
  width: 100%;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
}

.filterSection {
  /* width: 100%; */
  height: 6vh;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.viewOptions {
  display: flex;
  align-items: center;
  /* height: 100%; */
  gap: 0.5rem;
}

.listViewImg {
  height: 2rem;
  cursor: pointer;
}

.filters {
  width: 70%;
  height: 100%;
  margin-left: 1vw;
  margin-right: 5vw;
  display: flex;
  gap: 0.5rem;
}

.dropDown {
  padding-left: 1.2rem;
  width: 12rem;
}

.dropDown,
.sortSelect {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 3rem;
  appearance: none;
  background-image: url("../../assets/dropDown.svg");
  background-repeat: no-repeat;
  background-position: right 7% center;
  cursor: pointer;
}

.dropDown > option,
.sortSelect > select {
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.sortOptions {
  /* width: 15vw; */
  height: 100%;
  border: 0.15rem solid #e1e1e1;
  border-radius: 50px;
  padding: 1rem;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.sortSelect {
  background-color: transparent;
  font-weight: 400;
}

.productGrid {
  margin-top: 10vh;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.productList {
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}
