.main {
  margin-top: 0.5rem;
  padding: 0 2vw;
  margin-bottom: 7rem;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  margin-top: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8rem;
}

.title > span {
  font-family: Roboto;
  font-size: 3vw;
  font-weight: 700;
}

.cartItems {
  margin-top: 7vh;
  display: flex;
  justify-content: space-between;
}

.productList {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product {
  border-top: 3px solid #e1e1e1;
  border-bottom: 3px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  padding-right: 1vw;
}

.productInfo {
  margin: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productInfo > img {
  width: 18%;
  object-fit: cover;
  border: 2px solid #2e0052;
  border-radius: 0.3rem;
}

.details,.price,.quantity,.total {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  align-items: normal;
}

.product > div > div > span {
  color: #000000;
  font-family: Roboto;
  font-size: 1.8vw;
}

.product > div > div > span:first-of-type {
  font-weight: 500;
}

.product > div > div:first-of-type > span {
  font-size: 1.5vw;
  color: #a2a2a2;
}

.product > div > div:first-of-type {
  width: 30%;
}

.product > div > div:first-of-type > span:first-of-type {
  font-size: 1.8vw;
  color: #000000;
  font-weight: 600;
}

.quantity > select {
  margin-top: 0.4rem;
  border: none;
  border: 1px solid #BEBEBE;
  border-radius: 0.25rem;
  cursor: pointer;
}
.details{
  display: flex;
  gap: 1rem;
}

.priceDetails {
  border-left: 2.87px solid #e1e1e1;
  width: 26%;
  padding-left: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceDetails > div > h5 {
  color: #000000;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1vh 0 1.5vh 0;
}


.priceDetail ,.amountFormat {
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-family: Roboto;
  font-size: 1.4vw;
  font-weight: 400;
}

.priceDetails > div > div > span:last-of-type {
  width: 25%;
}

.totalAmount {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.amountFormat {
  font-family: Roboto; 
}

.totalAmount > div > span:first-of-type {
  font-size: 1.9vw;
  font-weight: 500;
}

.totalAmount > div > span:last-of-type {
  width: 30%;
  font-size: 1.6vw;
  font-weight: 400;
}

.placeOrderBtn {
  border: none;
  background-color: #ffd600;
  width: 97%;
  height: 8vh;
  border-radius: 0.6rem;
  color: #000000;
  font-family: Roboto;
  font-size: 1.7vw;
  font-weight: 500;
  cursor: pointer;
}
