.backToProductBtn {
    margin-top: 5vh;
    padding: 0.5% 2% 0.5% 2%;
    width: max-content;
    border: none;
    border-radius: 10px;
    background-color: #2e0052;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}