.backToProductBtn {
  margin-top: 5vh;
  padding: 0.5% 2%;
  border: none;
  border-radius: 0.6rem;
  background-color: #2e0052;
  color: #ffffff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
