.siteFooter {
    width: 100%;
    height: 7vh;
    background-color: #2E0052;
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 480px){
    .siteFooter {       
        font-size: 0.6rem;
    }
}

